<div class="bg-header flex flex-column gap-3 align-items-center py-5" style="height: 300px;">
  <div class="flex">
    <div *ngFor="let choice_list of query_choice; let i=index">
      <p-multiSelect [options]="choice_list" [(ngModel)]="query_chosen[i]" placeholder="Select Cities" (onChange)="query = build_query()">
        <ng-template let-items pTemplate="selectedItems">
          <div class="p-button p-2 w-full text-center p-button-outlined" style="color: #ADEFD1FF;">
            <div *ngIf="items">{{query_chosen[i]}}</div>
            <div *ngIf="!items || items.length === 0">...</div>
          </div>
        </ng-template>
      <ng-template let-choice pTemplate="item">
        <div class="p-button p-element p-component px-2 p-button-outlined" style="color: #ADEFD1FF;">{{choice}}</div>
      </ng-template>
      </p-multiSelect>
    </div>
  </div>

</div>
<div class="flex flex-column gap-3 align-items-center mt-3">
  <input type="text" pInputText style="width: 50%;" [(ngModel)]="query" />
  <p-button label="Submit" (onClick)="generateImage()"></p-button>
  <label>{{warning}}</label>
</div>

<div class="flex flex-column align-items-center justify-content-center mt-2">
  <img [src]="imageSrc" *ngIf="imageSrc" />
  <p-progressSpinner ariaLabel="loading" *ngIf="imageLoading"></p-progressSpinner>
</div>

<div class="absolute right-0 mr-4 top-0 mt-4">
  <p-dropdown [options]="history" [(ngModel)]="selectedHistory" optionLabel="prompt" [showClear]="true" placeholder="History" (onChange)="displayHistory()" [ngStyle]="{'width.px': 200}">
    <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedHistory" style="width: 120px;">
            <div>{{ selectedHistory.prompt }}</div>
        </div>
    </ng-template>
    <ng-template let-history pTemplate="item">
        <div class="flex align-items-center gap-2">
            <img src={{history.img_url}} style="width: 18px"/>
            <div>{{ history.prompt }}</div>
        </div>
    </ng-template>
</p-dropdown>
</div>