<div class="bg-header flex flex-column gap-3 align-items-center justify-content-center py-5">
  
  <div class="h-full p-3 flex gap-8 bg-orange-700" style="width: fit-content;">
    <div *ngFor="let choiceList of query_choice; let i=index" id="parent{{i}}" class="col flex flex-column gap-3 align-items-center justify-content-center">
      <div id="selectorDiv{{i}}" *ngFor="let choice of choiceList; let j=index" class="w-min text-center flex-1">
        <p-radioButton name={{i}} value={{choice}} [(ngModel)]="query_builder[i]" inputId=position{{i}}{{j}} class="hidden" (onClick)="build_query($event)"></p-radioButton>
        <label for=position{{i}}{{j}} class="ml-2"><p-toggleButton onLabel={{choice}} offLabel={{choice}} severity="danger"></p-toggleButton></label>
        <!-- <label >{{choice}}</label> -->
      </div>
    </div>
  </div>

  <input type="text" pInputText style="width: 50%;" [(ngModel)]="query" />
  <p-button label="Submit" (onClick)="generateImage()"></p-button>
  <label>{{warning}}</label>
</div>

<div class="flex flex-column align-items-center justify-content-center mt-2">
  <img [src]="imageSrc" *ngIf="imageSrc" />
  <p-progressSpinner ariaLabel="loading" *ngIf="imageLoading"></p-progressSpinner>
</div>

<div class="absolute right-0 mr-4 top-0 mt-4">
  <p-dropdown [options]="history" [(ngModel)]="selectedHistory" optionLabel="prompt" [showClear]="true" placeholder="History" (onChange)="displayHistory()" [ngStyle]="{'width.px': 200}">
    <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedHistory" style="width: 120px;">
            <div>{{ selectedHistory.prompt }}</div>
        </div>
    </ng-template>
    <ng-template let-history pTemplate="item">
        <div class="flex align-items-center gap-2">
            <img src={{history.img_url}} style="width: 18px"/>
            <div>{{ history.prompt }}</div>
        </div>
    </ng-template>
</p-dropdown>
</div>